/*#body{
	margin-left:10px;
	background: white;
	background-image: url(background.jpg) ;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border: 1px solid blue;
	width: 1000px;
	height: 700px;
	
}*/
#test5{
	width: 150px;
	height: 150px;
	border-radius: 75px;
	border: 1px solid blue;
}